@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #183618;
    color: #fff;
}

.header {
    display: flex;
    background-color: #377eb1;
    padding: 15px;
    text-align: left;
}

.header a {
    text-decoration: none;
    border-radius: 4px;
    padding: 2px;
    background-color: #226a8b;
    margin: 8px 1px 8px 1px;
    color: #fff;
    font-size: 12px;
}

.header h1 {
    font-size: 24px;
    margin: 0 25px;
}

.banner {
    background-image: url('SchoolBG.jpg');
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    height: 300px;
}

.navbar {
    background-color: #72A0C1;
    display: flex;
    justify-content: left;
    padding: 0 10px
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.navbar li {
    margin: 0 35px;
}

.navbar a1 {
    color:#72A0C1;
    padding: 8px 10.5px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color:#72A0C1;
    padding: 8px 10.5px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.background {
    background-color: #fff;
    padding: 10px 10px 400px 10px;
}

.credentials-container {
    background-color: #377eb1;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.tab {
    flex: 1;
    text-align: center;
    color: white;
    border: none;
    background: #333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.tab.active {
    background: #226a8b;
}

main {
    padding: 20px;
}

#student-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#student-table th, #student-table td {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 8px;
    text-align: center;
}

#student-table th {
    background-color: #fff;
    color: rgb(0, 0, 0);
}
